.fotoSemanal {
    width: 650px;
    height: 600px;
    margin-left: 50px; 
}

.Info {
    width: 100%;
    padding:30px;
    background-color:rgba(0, 0, 0, .2);
    backdrop-filter: blur(3px);
}

.boton {
    width: 300px;
    height: 50px;
    font-size: 30px;
    background-color: rgb(51, 51, 51, 0.8);
}

.boton2 {
    width: 60px;
    height: 50px;
    font-size: 30px;
}

.section-with-background {
    position: relative; 
    background-image: url('https://image.tmdb.org/t/p/original/wKrGc2s7kAaAmSsZ6pXwZTtysPP.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden; 
  }
  
  .section-with-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); 
  }

@media screen and (max-width: 768px) {
    .fotoSemanal {
        width: 70%;
        height: 80%;
        margin-left: 0px;
    }

    .Info {
        width: 100%;
        margin-bottom: 10px;
    }

    .boton {
        width: 200px;
        height: 50px;
        font-size: 20px;
    }
    
    .boton2 {
        width: 60px;
        height: 50px;
        font-size: 20px;
    }

}