.scroll-container {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.container-cont:hover .scroll-btn {
  opacity: 1; /* Muestra los botones cuando se pasa el mouse sobre el contenedor */
}

.content {
  display: flex;
}

.scroll-btn {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 40px;
  cursor: pointer;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease; /* Suaviza la transición */
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.item {
  display: inline-block;
  width: 300px;
  height: 150px;
  margin-right: 20px;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 150px;
}

.container-cont {
  width: 100%;
  z-index: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .scroll-btn {
    display: none;
  }
}
